html {
	font-family: verdana;
	/* -webkit-text-stroke: 1px black;
	font-weight: 600; */
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

body {
	margin: 0;
}

#refElements {
	display: none;
}

#DialogBlackout {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	background: radial-gradient(
		circle at center,
		rgba(0,0,0, 100%) 0%,
		rgba(0,0,0, 60%) 100%
	);
	z-index: 900;
	overflow: auto;
}

#dialogBox {
	margin: 10%;
	width: 75%;
	text-align: center;
}

/* Main Divs */
#Header {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	padding: 0px;
	border-bottom-width: 2px;
	position: fixed;
	min-height: 10px;
	z-index: 100
}

#menuBar {
	filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.5));
	padding: 3px;
}

#titleBar {
	width: 100%;
	padding: 4px;
}

#StatusBar {
	width: 100%;
	padding: 2px;
	min-height: 13px;
	position: fixed;
	bottom: 0px;
	border-top-width: 2px;
	z-index: 100;
	filter: drop-shadow(0px -10px 4px rgba(0, 0, 0, 0.5));
}

#StatusBarConsole {
	background: #000;
	padding: 2px;
	border-radius: 4px;
	color: #FFF;
	min-width: 200px;
	min-height: 13px;
	float: left;
	border: 1px solid #FFF;
}

#StatusBarFileInfo {
	background: #000;
	padding: 2px;
	padding-right: 6px;
	border-radius: 4px;
	color: #FFF;
	min-height: 13px;
	float: right;
	border: 1px solid #FFF;
}

#topButton {
	padding: 4px;
	margin-left: 50%;
	position: absolute;
	transform: translate(-50%, -3px);
	margin-bottom: 3px;
}

#topButton:hover {
	animation-name: bounce;
	animation-duration: 0.5s;
	animation-direction: normal;
	animation-iteration-count: infinite;
}

@keyframes bounce {
	0%, 100% {
		transform: translate(-50%, 0px;)
	}
	50% {
		transform: translate(-50%, -10px)
	}
}

#displayArea {
	filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
}

#StatusBarFileInfo > span {
	padding-right: 2px;
	padding-left: 2px;
}

#ContentContainer {
	padding: 10%;
}

#Editor_Description {
	max-width: 98%;
	min-width: 98%;
}

/* Dropdown Menus */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown > span, .dropdown-content-right > span, .dropdown-content > a, .dropdown-content-right > a {
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
}

.dropdown > span > img, .dropdown-content > a > img, .dropdown-content-right > a > img {
	transform: translate( 0%, 25%);
}

.dropdown-content, .dropdown-content-right {
    display: none;
	white-space: nowrap;
    position: absolute;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
	padding: 4px 6px;
    z-index: 1;
}

.dropdown-content-right {
	left: 100%;
	top: 0%;
}

.dropdown:hover > .dropdown-content, .dropdown:hover > .dropdown-content-right {
	display: block;
}


/* BBCode */
.prisma {
	animation: prisma 2s linear 0s infinite alternate;
}

@keyframes prisma {
	0%, 100% { color: red }
	16% { color: orange}
	32% { color: yellow}
	48% { color: green }
	64% { color: blue}
	80% { color: violet}
}

.spoiler {
	color: darkred;
	background: darkred;
	border-radius: 6px;
	text-shadow: none;
	transition: ease-in-out 0.5s;
}

.spoiler:hover {
	color: unset;
	background: rgba(139, 0, 0, 0.5);
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	transition: ease-in-out 1s;
}

/* CSS Images */
#MainLogo {
	background-image: url('../img/logo.gif');
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 108px;
	max-height: 108px;
	max-width: 148px;
	max-width: 148px;
}

.charCard {
	padding: 2px;
}
